a:link{color:white;}
a:visited{color:black;}
a:hover{color:white;}
a:active{color:darkred;}

.title_continer{
    margin: 1%;
    margin-top: 1%;
    margin-bottom: 0;
    /*padding: 2%;*/
    background: rgba(0,100,0,0.3);
    /*height: 50%;*/
    color: dodgerblue;
    padding: 1%;
    font-size: xx-large;
    font-family: '等线 Light';
    text-align: left;
}
.background{
    margin: 1%;
    margin-top: 0;
    /*margin-bottom: 0;*/
    padding: 2%;
    background: rgba(255,255,255,0.5);
    height: 70%;
}


.random_font{
    background-color: rgba(255,255,255,0.5);
    color: darkgreen;
    font-size: 100px;
    font-family: '等线';
    text-align: center;
    width: 50%;
    padding: 2%;
    margin: 2%;
}

